<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Operações</title>
</head>
<body>
    <h1>Escolha uma Operação:</h1>

    <form method="post" action="{% url 'nome_da_url' %}">
        {% csrf_token %}
        
        <button type="submit" name="operacao" value="insercao">Inserção</button>
        <button type="submit" name="operacao" value="delete">Delete</button>
        <button type="submit" name="operacao" value="update">Update</button>
        <button type="submit" name="operacao" value="select">Select</button>
        <button type="submit" name="operacao" value="sair">Sair</button>
        <button type="submit" name="operacao" value="repeticao_clientes">Repetição com X Clientes</button>
        <button type="submit" name="operacao" value="repeticao_clientes_database_pequena">Repetição com X Clientes (Database Pequena)</button>
    </form>
</body>
</html>
