<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aqui temos bootstrap</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <h1>MEGA BATATA DESTROYER</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <img src="images/batata.webp" alt="Imagem não pode ser batatada">
    <img src="images/batata2.jpg" alt="Imagem não pode ser batatada também">
    <img src="images/batata3.png" alt="Até o JPG não pode ser batatado">
    <img src="images/batata4.jpeg" alt="Nem mesmo o jpeg">
    <img src="images/imagemboba.jpg" alt="imagem boba não carregada">
    <h1>LINKS</h1>
    <a href="links/exemplo_link.html">Nome do LINK</a>
</body>
</html>
